.tete p{
	font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
/* identical to box height */
color: rgba(0, 0, 0, 0.62);

}
.tete h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 60px;
/* identical to box height */
color: #000000;
width: 141px;
}
.left .global-left p {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: rgba(0, 0, 0, 0.62);
}
.left .global-left p  span.top{
	margin-top: 10px;
}

.button1{
	background: #34A853;
	border-radius: 10px;
	font-size: 25px;
	color: #fff;
}
.button1:hover{
	color: #fff;
	background-color: #34A853;
}
.button2{
	color:#34A853;
	font-size: 25px;
	border: #34A853 2px solid;
	border-radius: 10px;
}
.button2:hover{
	color:#34A853;
	font-size: 25px;
	border: #34A853 2px solid;
	border-radius: 10px;
}
form .form-outline input{
	border: 1px solid black ;
	
}
form .form-outline input:focus{
	outline: none;
}

form p Link {
	text-decoration: none;
	border-bottom: none;
}
