

.container  .card-body h6{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
color: rgba(0, 0, 0, 0.51);
}



.App{
	font-family: "Poppins",sans-serif;
	font-style: normal;
}

.container .form-group .input-group input[type=text]{
	outline: none;
	
}
.carousel h3{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;

	color: rgba(0, 0, 0, 0.51);
}
.carousel h3.google{
	font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


color: #000000;
}

.footer-list ul li{
	list-style-type: none;
	font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;

color: #FFFFFF;
}
.parti img.soler{
	width: 50px;
	height: auto;
}
.parti img.user{
	width: 20px;
	height: auto;
}

.conte-list{
	border-bottom: #FFFFFF 2px solid;
}
.conte-un{
	border-bottom: #FFFFFF 2px solid;
	
}




.rang{
	font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;
}

.container-fluid .france{
	background: #FFFFFF;
	width: 190px;
	border-radius: 15px;
	
	


}
.container .over:hover{
	margin-top: -0.20%;
}

.conte-un .vector{
	text-decoration: none;
	color: #FFFFFF;
}

