.navbar ul .dropdown{
  
	
	  font-family: 'Poppins';
	  font-style: normal;
	  font-weight: 600;
	  font-size: 18px;
	  line-height: 22px;
	  color: #000000;
	
	}
	
	.navbar img.logo{
		width: 90px;
		height: auto;
	
	}
	
	.navbar ul .nav-item .nav-link img.compte{
	  width: 28px;
	height: 28px;
	right: 183px; 
	top: 35px;
	padding-right: 10px;
	background: #fff;
	
	}
	.navbar{
	  box-shadow: #fff;
	}
	